/* Layout customizations */
ion-tab-bar {
    border-top: 2px solid black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

ion-app {
    background-color: white;
}

ion-header {
    --background: var(--ion-background-color);
}

/* Components customizations */

ion-input {
    border: 2px solid black;
    border-radius: 8px;
    background: #ffffff !important;
    padding-left: 2px !important;
    --padding-start: 4px !important;
}

ion-button {
    border-radius: 8px;
    box-shadow: 4px 4px black;
}
